body {
  width: 50%;
  margin: 350px auto;
  font-family: 'Neuton', serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}
button {
  padding: 5px;
  margin: 5px;
  border: none;
  outline: none;
  background: none;
  transition-duration: 0.3s;
}

button:hover {
  color: teal;
  font-size: 16px;
  border: none;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited, a:link {
  color: gray;
  text-decoration: none;
}

p {
  text-transform: uppercase;
  margin: 4px auto;
  color: gray;
  padding: 0;
  font-size: 16px;
}

hr {
  width: 40%;
  padding: 0;
  margin: 0 auto;
}

#yt {
  height: 32px;
}

#bubble {
  background: black;
  height: 80px;
  width: 80px;
  border-radius: 70px;
  margin: 50px auto;
  transition: 1.0s;
  transform-origin: bottom;
}

#bubble:hover {
  height: 150px;
  width: 150px;
}
